Repository kamsinwaukwa-ctrl/sayarMVP, changes with the owners that CODEOWNERS names for each.
All owners: @dev-team, @backend-team, @frontend-team

CODEOWNERS:

# Global owners
* @dev-team

# Backend code
/back/ @backend-team
/back/src/api/ @backend-team
/back/src/database/ @backend-team
/back/src/services/ @backend-team
/back/tests/ @backend-team

# Frontend code  
/front/ @frontend-team
/front/src/ @frontend-team

# Infrastructure and CI/CD
/.github/ @dev-team
/migrations/ @backend-team
/.pre-commit-config.yaml @dev-team
/README.md @dev-team

# Task management
/tasks/ @dev-team

# Configuration files
*.yml @dev-team
*.yaml @dev-team
*.json @dev-team
*.md @dev-team

chore: snapshot work to failsafe branch
  back/src/api/products.py
Owners: @backend-team

Just to be safe
  .claude/agents/shadcn-ui-expert.md
  .github/workflows/deploy.yml
  CLAUDE.md
  back/.env.production.template
  back/main.py
  back/requirements.txt
  back/src/api/products.py
  back/src/integrations/meta_catalog.py
  back/src/models/api.py
  back/src/models/meta_catalog.py
  back/src/services/product_service.py
  back/src/utils/metrics.py
  back/src/workers/job_handlers.py
  back/tests/integration/test_products.py
  docs/DEPLOYMENT-MANUAL-SETUP.md
  docs/INFRA-001-multi-tier-scaling-strategy.md
  front/.env.production.template
  front/.eslintrc.cjs
  front/package-lock.json
  front/package.json
  front/src/__tests__/auth.test.tsx
  front/src/test-setup.ts
  front/vercel.json
  front/vite.config.test.ts
  migrations/011_meta_catalog_enhancements.sql
  migrations/011_meta_catalog_enhancements_down.sql
  railway.toml
  sayar_roadmap_tasks.md
Owners: @dev-team, @backend-team, @frontend-team

fix: add email-validator dependency for pydantic email validation
  back/requirements.txt
Owners: @backend-team

fix: replace python-magic with file signature validation
  back/requirements.txt
  back/src/utils/storage.py
Owners: @backend-team

vercel fix hopefully
  front/vercel.json
Owners: @dev-team

fix-vercel
  front/src/components/forms/checkbox-field.tsx
  front/src/components/forms/select-field.tsx
  front/src/components/forms/switch-field.tsx
  front/src/components/forms/text-field.tsx
  front/src/components/forms/textarea-field.tsx
  front/src/components/layout/app-shell.tsx
  front/src/components/layout/header.tsx
  front/src/components/ui/alert-dialog.tsx
  front/src/components/ui/toaster.tsx
Owners: @frontend-team

fix: Add missing lib/ directory files and fix .gitignore
  .gitignore
  front/src/lib/api-client.ts
  front/src/lib/api-client/api.ts
  front/src/lib/api-client/index.ts
  front/src/lib/api-client/models.ts
  front/src/lib/api-config.ts
  front/src/lib/api.ts
  front/src/lib/api/media.ts
  front/src/lib/api/onboarding.ts
  front/src/lib/constants.ts
  front/src/lib/form-schemas/brand-basics.ts
  front/src/lib/form-schemas/delivery-rates.ts
  front/src/lib/form-schemas/index.ts
  front/src/lib/form-schemas/payments.ts
  front/src/lib/form-schemas/products.ts
  front/src/lib/form-schemas/whatsapp.ts
  front/src/lib/form-utils.ts
  front/src/lib/format.ts
  front/src/lib/http.ts
  front/src/lib/onboarding-api.ts
  front/src/lib/onboarding.ts
  front/src/lib/supabase.ts
  front/src/lib/utils.ts
  front/src/lib/variants.ts
Owners: @dev-team, @frontend-team

vercel fix hopefully now
  front/src/App.tsx
Owners: @frontend-team

fix: Add production domains to CORS configuration
  back/main.py
Owners: @backend-team

small like frontend fixes
  .gitignore
  front/index.html
  front/public/android-chrome-192x192.png
  front/public/android-chrome-512x512.png
  front/public/apple-touch-icon.png
  front/public/favicon-16x16.png
  front/public/favicon-32x32.png
  front/public/favicon.ico
  front/public/site.webmanifest
  front/src/components/auth/AuthLayout.tsx
  front/src/index.css
  front/vercel.json
Owners: @dev-team, @frontend-team

fixed catalog feed URL
  back/src/api/merchants.py
  back/src/models/auth.py
  back/src/services/auth_service.py
  back/src/services/meta_feed_service.py
  front/src/components/setup/MetaCatalogSetup.tsx
  migrations/009_register_bootstrap_function.sql
  migrations/010_slug_generation_functions.sql
  migrations/017_get_feed_new.sql
Owners: @backend-team, @frontend-team

Save current work before branch creation
  back/main.py
  back/src/middleware/error_middleware.py
  back/src/services/meta_integration_service.py
  front/src/components/setup/MetaCatalogSetup.tsx
  front/src/lib/api/onboarding.ts
  front/src/types/onboarding.ts
Owners: @backend-team, @frontend-team

chore: remove non-source artifacts and ignore going forward
  .cursor/rules/ADR.mdc
  .cursor/rules/PRD.mdc
  .gitignore
  .playwright-mcp/facebook-catalog-docs.png
  .playwright-mcp/page-2025-09-12T11-01-47-519Z.png
  .playwright-mcp/page-2025-09-12T11-01-57-208Z.png
  .playwright-mcp/page-2025-09-12T11-24-16-051Z.png
  .playwright-mcp/page-2025-09-12T11-41-02-082Z.png
  .playwright-mcp/page-2025-09-12T11-41-13-468Z.png
  .playwright-mcp/page-2025-09-12T11-42-32-887Z.png
  .specstory/.what-is-this.md
  .taskmaster/config.json
  AGENTS.md
  BE-009-configuration-management.md
  BE-011-logos-only.md
  CLAUDE.md
  FE-000-app-shell-auth.md
  FE-001-onboarding-wizard.md
  design.md
  sayar_roadmap_tasks.md
Owners: @dev-team

chore
  CLAUDE.md
  back/migrations/019_meta_integrations.sql
  back/migrations/021_relax_meta_integrations_constraints.sql
  back/src/api/merchants.py
  back/src/api/meta_integrations.py
  back/src/models/api.py
  back/src/models/meta_integrations.py
  back/src/models/payment_providers.py
  back/src/models/sqlalchemy_models.py
  back/src/services/meta_integration_service.py
  back/src/services/payment_provider_service.py
  back/tests/integration/test_meta_integrations.py
  front/src/__tests__/currency-utils.test.ts
  front/src/components/setup/DeliveryRatesSetup.tsx
  front/src/components/setup/MetaCatalogSetup.tsx
  front/src/components/setup/PaymentsSetup.tsx
  front/src/components/setup/SetupCard.tsx
  front/src/components/setup/WhatsAppIntegrationSetup.tsx
  front/src/lib/api/payments.ts
  front/src/lib/form-schemas/delivery-rates.ts
  front/src/lib/form-schemas/products.ts
  front/src/lib/format.ts
  front/src/lib/onboarding.ts
  front/src/pages/Dashboard.tsx
  front/src/types/onboarding.ts
  sayar_data_dictionary.md
Owners: @dev-team, @backend-team, @frontend-team

chore: remove non-source artifacts and ignore going forward
  CLAUDE.md
  back/migrations/016_2_cloudinary_presets.sql
  back/migrations/018_meta_sync_reason.sql
  back/migrations/019_meta_integrations.sql
  back/migrations/019_meta_reconciliation.sql
  back/migrations/020_product_mpn_field.sql
  back/migrations/021_relax_meta_integrations_constraints.sql
  back/migrations/README.md
Owners: @dev-team, @backend-team

Fixed the vercel issue
  front/package-lock.json
  front/src/components/layout/header.tsx
  front/src/components/layout/sidebar.tsx
  front/src/components/settings/ConnectionStatus.tsx
  front/src/components/settings/tabs/BrandSettingsTab.tsx
  front/src/components/settings/tabs/PaymentSettingsTab.tsx
  front/src/components/settings/tabs/ProfileSettingsTab.tsx
  front/src/components/settings/tabs/WhatsAppSettingsTab.tsx
  front/src/components/setup/BrandBasicsSetup.tsx
  front/src/components/setup/SetupCard.tsx
  front/src/components/ui/filter-bar.tsx
  front/src/components/ui/index.ts
  front/src/hooks/settings/useSettings.ts
  front/src/hooks/useSecureForm.ts
  front/src/lib/security.ts
  front/src/lib/settings-api.ts
  front/src/pages/Dashboard.tsx
  front/src/pages/Settings.tsx
Owners: @dev-team, @frontend-team

fix: rename badge.tsx to Badge.tsx for case-sensitive filesystems
  front/src/components/ui/Badge.tsx
Owners: @frontend-team

Fixed the vercel issue 2
  front/vercel.json
Owners: @dev-team

whatsapp connected
  back/bootstrap_webhook_direct.py
  back/bootstrap_webhook_simple.py
  back/src/utils/db_session.py
  back/src/utils/encryption.py
  back/test_webhook_bootstrap.py
  front/src/lib/settings-api.ts
Owners: @backend-team, @frontend-team

whatsapp connected God abeg
  back/migrations/021_fix_webhook_encryption_column.sql
  back/src/api/webhooks.py
Owners: @backend-team

whatsapp connected God abeg 2
  back/src/utils/outbox.py
Owners: @backend-team

docs: improve Phase 4 markdown formatting in roadmap
  back/main.py
  back/worker_entrypoint.py
  docs/RAILWAY_DEPLOYMENT.md
  railway.toml
  railway.worker.toml
Owners: @backend-team, @dev-team

fix: update requirements.txt for Python 3.13 compatibility
  back/requirements.txt
Owners: @backend-team

fix: upgrade SQLAlchemy to 2.0.36 for Python 3.13 compatibility
  back/requirements.txt
Owners: @backend-team
